@keyframes pulse {
  from {
    transform: scale3d(1, 1, 1);
  }

  50% {
    transform: scale3d(1.01, 1.01, 1.01);
  }

  to {
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes widen {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes scaleUp {
  0% {
    opacity: 0;
    transform: scale(0);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes slideIn {
  0% {
    max-height: 0;
    opacity: 0;
  }

  100% {
    max-height: 999px;
    opacity: 1;
  }
}

@keyframes heighten {
  0% {
    height: 0;
  }

  100% {
    height: 100%;
  }
}

@keyframes nudge-up {
  from {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-3px);
  }

  to {
    transform: translateY(0);
  }
}

@keyframes backgroundBlink {
  from {
    background-color: $athens-gray;
  }

  50% {
    background-color: $gallery;
  }

  to {
    background-color: $athens-gray;
  }
}

