@include bp(tablet) {
  .u-fl\@tablet {
    display: flex !important; // sass-lint:disable-line no-important
  }

  // visible for everything > tablet
  .u-visible\@tablet {
    display: block !important; // sass-lint:disable-line no-important
  }

  // hidden for everything > tablet
  .u-hidden\@tablet {
    display: none !important; // sass-lint:disable-line no-important
  }
}

@include bp(laptop) {
  .u-fl\@laptop {
    display: flex !important; // sass-lint:disable-line no-important
  }

  .u-visible\@laptop {
    display: block !important; // sass-lint:disable-line no-important
  }

  .u-hidden\@laptop {
    display: none !important; // sass-lint:disable-line no-important
  }
}

// Padding

.u-pd--r3 {
  padding: r(3);
}

.u-pdb--r5 {
  padding-bottom: r(5);
}

// Overflow

.u-of--h {
  overflow: hidden;
}

.u-of--a {
  overflow: auto;
}

// Dimensions

.u-w--r6 {
  width: r(6);
}

.u-w--r12 {
  width: r(12);
}

.u-w--r18 {
  width: r(18);
}

.u-w--r24 {
  width: r(24);
}

// Flex

.u-fld--rr {
  flex-direction: row-reverse;
}

.u-fljc--fe {
  justify-content: flex-end;
}

@include bp(tablet) {
  .u-fljc--c\@tablet {
    justify-content: center;
  }
}

.u-fljc--c {
  justify-content: center;
}

.u-flai--s {
  align-items: flex-start;
}

.u-flai--st {
  align-items: stretch;
}

.u-flai--c {
  align-items: center;
}

.u-flai--i {
  align-items: inherit;
}

// Position

.u-relative {
  position: relative;
}

.u-pos--a-r {
  @include pos(a 0 0 null null);
}

// Display

.u-disabled {
  pointer-events: none;
}

.u-d--ib {
  display: inline-block !important; // sass-lint:disable-line no-important
}

.u-d--b {
  display: block !important; // sass-lint:disable-line no-important
}

.u-h--100 {
  height: 100% !important; // sass-lint:disable-line no-important
}

.u-w--100 {
  width: 100% !important; // sass-lint:disable-line no-important
}

.u-wm--0 {
  min-width: 0;
}

// Colors

.u-c--mandy {
  color: $mandy;
}

.u-c--white {
  color: $white;
}

.u-c--supernova {
  color: $supernova;
}

// Temp

.u-mgb--xxs {
  margin-bottom: #{r(1) / 2};
}

.u-mgt--splus {
  margin-top: r(3);
}

.u-mgr--splus {
  margin-right: r(3);
}

.u-mgb--splus {
  margin-bottom: r(3);
}

.u-mgl--splus {
  margin-left: r(3);
}

.u-mg--splus {
  margin: r(3);
}

.u-mgb--mplus {
  margin-bottom: r(6);
}

.u-pd--splus {
  padding: r(3);
}

.u-pdh--splus {
  padding-right: r(3);
  padding-left: r(3);
}

.u-pd--mplus {
  padding: r(6);
}

.u-pdh--mplus {
  padding-right: r(6);
  padding-left: r(6);
}

.u-container {
  @include bp(tablet) {
    padding: 0 $pd--l;
  }

  width: 100%;
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
  padding: 0 $pd--m;
}

.u-container--np {
  padding: 0;
}

// ??

.u-centered {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

// cursor

.u-c--p {
  cursor: pointer !important; // sass-lint:disable-line no-important
}

//
